:root {
  /* color primario */
  /* colores principales */
  --primary-950: #39a900;
  --primary-400: #303030;
  --white: #fff;
  --black: #000;

  /* colores gris */
  --gray-950: #101010;
  --gray-900: #262626;
  --gray-850: #3b3b3b;
  --gray-700: #515151;
  --gray-600: #676767;
  --gray-500: #7d7d7d;
  --gray-400: #929292;
  --gray-300: #a8a8a8;
  --gray-200: #bebebe;
  --gray-100: #d4d4d4;
  --gray-050: #e9e9e9;

  /* colores ajustados en ia */

  /* Color primario */
  --primary-50: #edf7e8;
  --primary-100: #dbefb9;
  --primary-200: #c9e8b9;
  --primary-300: #b7e0a2;
  --primary-400: #a5d88b;
  --primary-500: #93d074;
  --primary-600: #81c85d;
  --primary-700: #6fc046;
  --primary-800: #5dd12e;
  --primary-900: #4bbd17;
  --primary-950: #39a900;

  /* Colores secundarios */
  /* Secundario 1 */
  --secundary-1-50: #e8ecef;
  --secundary-1-100: #d1dbdf;
  --secundary-1-200: #b9c7ce;
  --secundary-1-300: #a2b4be;
  --secundary-1-400: #8b9dd6;
  --secundary-1-500: #748e9e;
  --secundary-1-600: #5d7b8e;
  --secundary-1-700: #46687e;
  --secundary-1-800: #2e566d;
  --secundary-1-900: #17435d;
  --secundary-1-950: #00304d;

  /* Secundario 2 */
  --secundary-2-50: #f2ebf3;
  --secundary-2-100: #e5d8e7;
  --secundary-2-200: #d8c4db;
  --secundary-2-300: #cbb0cd;
  --secundary-2-400: #be9dc3;
  --secundary-2-500: #b289b6;
  --secundary-2-600: #a576aa;
  --secundary-2-700: #98629e;
  --secundary-2-800: #8b4e92;
  --secundary-2-900: #7e3b86;
  --secundary-2-950: #71277a;

  /* Secundario 3 */
  --secundary-3-50: #effdfe;
  --secundary-3-100: #dffafe;
  --secundary-3-200: #cfd0fd;
  --secundary-3-300: #bffafd;
  --secundary-3-400: #aff3fc;
  --secundary-3-500: #a0f1fc;
  --secundary-3-600: #90eef7;
  --secundary-3-700: #80eecf;
  --secundary-3-800: #70eafa;
  --secundary-3-900: #60e7fa;
  --secundary-3-950: #50e5f9;

  /* Secundario 4 */
  --secundary-4-50: #fff6e8;
  --secundary-4-100: #fff4d1;
  --secundary-4-200: #feefb9;
  --secundary-4-300: #fee9a2;
  --secundary-4-400: #fee48b;
  --secundary-4-500: #fede74;
  --secundary-4-600: #fedb5d;
  --secundary-4-700: #fed346;
  --secundary-4-800: #fdce2e;
  --secundary-4-900: #fdc817;
  --secundary-4-950: #fdc300;

  /* Colores neutros */
  --blanco: #ffffff;
  --negro: #000000;
  --gray-950: #313131;
  --gray-750: #626262;
  --gray-550: #949494;
  --gray-350: #c5c5c5;
  --gray-150: #f6f6f6;

  /* fuentes  */
  --font--main: Helvetica, Arial, sans-serif; /* TEXTOS Y CONTENIDO*/
  --font--logo: Helvetica, Arial, sans-serif; /* LOGOS Y ARTES */

  /* ********************************* */
  /* Botones primarios */

  /* Botones secundarios */
}
html {
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*,
::after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  font-family: var(--font--main);
}
/* ******************** */
/* ******************** */
/* codigo de pagina web */
/* ******************** */
/* ******************** */

body {
  /* colores */
  background-color: var(--white);

  /* tamaños */
  width: 100%;
  height: 100%;
  position: fixed; /* oara que use y aplique el 100% */
  top: 0rem;
  left: 0rem;

  /* posicionamiento */
  display: flex;
  flex-direction: row;

  /* centrados */
  margin: 0 auto;
}
.header1 {
  display: none; /* se apago un titulo solo ve en media querry */
}
.header2 {
  /* display: flex;
  position: absolute;
  top: 4%;
  width: 100%;
  justify-content: center;
  font-family: var(--font--main);
  font-weight: bold;
  font-size: 3.2rem;
  color: var(--primary-800);
  text-shadow: 0 0 2px #00ff00, 0 0 20px #00ff00; */
  /* Sombra verde */

  position: absolute;
  top: 5%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: var(--font--main);
  font-weight: bold;
  font-size: 3.2rem;
  color: var(--primary-800);
  text-shadow: 0 0 2px #00ff00, 0 0 20px #00ff00;
}

/* ************************************************ */

.box1 {
  width: 20%;
  height: auto;
  background: linear-gradient(
    to bottom,
    var(--secundary-1-600),
    var(--gray-100)
  );
  /* display */
  display: flex;
  flex-direction: column;
  /* alinear */
  align-items: center;
}

.contenedor-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  /* tamaños */
  width: 100%;
  height: 100vh;
}

.subcontenedor-gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 2rem;
  height: 100vh;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* min-width: 16rem; */
}
.image-movile {
  width: 35rem; /* vector httml para otros = */
  height: 70rem; /* vector httml para otros = */
  background-image: url("link imagen plantilla img/CUADROS");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
img {
  width: 10rem;
  
}

/* ************************************************ */

.box2 {
  /* colores */
  background-color: var(--secundary-1-950);

  /* tamanos */
  width: 80%;
  height: auto;

  /* propiedades  si se activa display flex / desactiva aling content*/
  display: flex;
  flex-direction: column;

  /* centrados */
  justify-content: center;
  align-items: center;
}

.container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 100vh; */

  /* colores */
  background-color: var(--white);
  border-radius: 1rem;
  /* tamaños */
  width: 40rem;
  height: auto;
  /* centrado */
  text-align: center;
  box-shadow: 0 4px 8px var(--black);
  /* posicion */
  position: fixed;
  top: 20%;
  margin: 0;
  padding: 0;
}
.container-box h3 {
  /* posicion */
  display: flex;
  margin: 0 auto;
  /* centrado */
  justify-content: center;
  align-items: center;

  /* colores */
  background-color: var(--gray-100);

  /* tamaños */
  border-radius: 1rem 1rem 0rem 0rem; /* bordes en sentido reloj. */
  height: 5rem;
  width: 100%;

  /* texto */
  color: var(--secundary-1-950);
  font-weight: bolder;

  /* posicionamiento */
}
/* ******************************************************* */
/* ******* aqui se controla las 2 columnas blancas ******* */

.container-form {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* *********OPCION 01*********** */
  /* 40 REM o 80 REM */
  /* width: 40rem;   
  gap: 2rem;  */
  /* 2 REM o 5 REM para 80 REM ARRIBA */

  /* *********OPCION 02*********** */
  /* 40 REM o 80 REM */
  width: 80rem;
  gap: 2rem;
  /* 2 REM o 5 REM para 80 REM ARRIBA */

  /* ******************************* */
}

.container-box img {
  width: 16rem;
  height: 12rem;
  margin: 0.1rem;
  border-radius: 10rem;
}

.container-form label {
  display: flex;
  font-size: 1.6rem;
  font-weight: 200;
  color: var(--black);
}

/* sanches ni stefania NO BORRAR NINGUNO DE ESTOS PORQUE SON TODOS LOS INPUTS SEGUN SE PONGA HTML */
.container-box input[type="text"],
.container-box input[type="password"],
.container-box input[type="email"],
.container-box input[type="number"],
.container-box input[type="tel"],
.container-box input[type="url"],
.container-box input[type="search"],
.container-box input[type="date"],
.container-box input[type="time"],
.container-box input[type="datetime-local"],
.container-box input[type="month"],
.container-box input[type="week"],
.container-box input[type="color"],
.container-box input[type="file"],
.container-box input[type="checkbox"],
.container-box input[type="radio"],
.container-box input[type="range"],
.container-box input[type="submit"],
.container-box input[type="reset"],
.container-box input[type="button"],
.container-box input[type="hidden"] {
  font-size: 1.6rem;
  color: var(--gray-700);
  width: 32rem;
  padding: 1.6rem 2.4rem; /* TDOSOS LOS INPUTS DE 52 PX DE ALTOS SEGUN CORRECION GOOGLE DESING GUIDE */
  margin: 0em;
  border: 0.1rem solid var(--blanco);
  border-radius: 5rem; /* campo circular */
  box-sizing: border-box;
  background-color: var(--gray-050);
}

label {
  margin: 0 auto;
  padding: 0rem 2.4rem;
}
.container-box .button {
  background-color: var(--secundary-1-800);
  width: 15rem;
  color: var(--white);
  padding: 1.6rem 2.4rem 1.6rem 2.4rem;
  border: none;
  border-radius: 2.4rem;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 2rem;
}
.container-box a {
  color: var(--white);
  text-decoration: none;
}
.login-container a {
  display: block;
  margin-top: 10px;
  color: #0a3d62;
  text-decoration: none;
}

.baseform {
  position: relative;
  bottom: 0%;
  width: 100%;
}
.baseform a {
  display: flex;

  /* colores */
  background-color: var(--gray-100);
  /* display */
  display: flex;
  /* posicionamiento */
  justify-content: center;
  align-items: center;
  /* tamaños */
  height: 3.6rem;
  border-radius: 0rem 0rem 1rem 1rem;
  /* fuente */
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray-600);
  text-decoration: none;
}

.image-movile {
  width: 35rem; /* vector httml para otros = */
  height: 70rem; /* vector httml para otros = */
  /* imagen cargada detras del celular */
  background-image: url("../img/fondo-laptop.jpg");
  /* ajuste a la imagen para que se ajuste detreas de vector */
  border-radius: 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image-movile svg{
  display: flex;
  width: 35rem;/* para que no se ve el borde sobresalir */
  justify-content: center;
  box-shadow: inset 0 0 0 1rem var(--secundary-1-600);
  border-radius: 4rem;
  
 
}
  
}
@media (max-width: 768px) {
  body {
    height: auto; /* Ajusta la altura del body automáticamente */
    min-height: 200vh; /* Asegura que el body ocupe al menos el 100% de la altura de la ventana gráfica */
    overflow-y: auto; 
  }
  .header1 {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: var(--font--main);
    font-weight: bold;
    font-size: 3.2rem;
    color: var(--primary-800);
    text-shadow: 0 0 2px #00ff00, 0 0 20px #00ff00;
  }
  .header2 {
    display: none;
    
  }

  .box1 {
    display: none; 
  }

  .box2 {
    width: 100%;
  
  }
  .container-box {
     display: flex;
    position: fixed;
    top: 10%;
    justify-content: center;
    align-items: center;
  }
  h3 {
    /* width: 40rem; */
  }
  .container-form {
    display: flex;
    flex-direction: column; /* Organiza en una sola columna */
    align-items: center; /* Centra los elementos en la columna */
    width: 40rem;
  
    gap: 0.5rem;
  }
  .container-form .dato {
    width: 100%; /* Asegura que cada input y label ocupen todo el ancho del contenedor */
    margin-bottom: 1rem; /* Añade espacio entre cada input */
  }
  .container-form label,
  .container-form input {
    width: 100%; /* Asegura que los labels y inputs ocupen todo el ancho disponible */
  }
}
