:root {
  /* color primario */
  /* colores principales */
  --primary-950: #39a900;
  --primary-400: #303030;
  --white: #fff;
  --black: #000;

  /* colores gris */
  --gray-950: #101010;
  --gray-900: #262626;
  --gray-850: #3b3b3b;
  --gray-700: #515151;
  --gray-600: #676767;
  --gray-500: #7d7d7d;
  --gray-400: #929292;
  --gray-300: #a8a8a8;
  --gray-200: #bebebe;
  --gray-100: #d4d4d4;
  --gray-050: #e9e9e9;

  /* colores ajustados en ia */

  /* Color primario */
  --primary-50: #edf7e8;
  --primary-100: #dbefb9;
  --primary-200: #c9e8b9;
  --primary-300: #b7e0a2;
  --primary-400: #a5d88b;
  --primary-500: #93d074;
  --primary-600: #81c85d;
  --primary-700: #6fc046;
  --primary-800: #5dd12e;
  --primary-900: #4bbd17;
  --primary-950: #39a900;

  /* Colores secundarios */
  /* Secundario 1 */
  --secundary-1-50: #e8ecef;
  --secundary-1-100: #d1dbdf;
  --secundary-1-200: #b9c7ce;
  --secundary-1-300: #a2b4be;
  --secundary-1-400: #8b9dd6;
  --secundary-1-500: #748e9e;
  --secundary-1-600: #5d7b8e;
  --secundary-1-700: #46687e;
  --secundary-1-800: #2e566d;
  --secundary-1-900: #17435d;
  --secundary-1-950: #00304d;

  /* Secundario 2 */
  --secundary-2-50: #f2ebf3;
  --secundary-2-100: #e5d8e7;
  --secundary-2-200: #d8c4db;
  --secundary-2-300: #cbb0cd;
  --secundary-2-400: #be9dc3;
  --secundary-2-500: #b289b6;
  --secundary-2-600: #a576aa;
  --secundary-2-700: #98629e;
  --secundary-2-800: #8b4e92;
  --secundary-2-900: #7e3b86;
  --secundary-2-950: #71277a;

  /* Secundario 3 */
  --secundary-3-50: #effdfe;
  --secundary-3-100: #dffafe;
  --secundary-3-200: #cfd0fd;
  --secundary-3-300: #bffafd;
  --secundary-3-400: #aff3fc;
  --secundary-3-500: #a0f1fc;
  --secundary-3-600: #90eef7;
  --secundary-3-700: #80eecf;
  --secundary-3-800: #70eafa;
  --secundary-3-900: #60e7fa;
  --secundary-3-950: #50e5f9;

  /* Secundario 4 */
  --secundary-4-50: #fff6e8;
  --secundary-4-100: #fff4d1;
  --secundary-4-200: #feefb9;
  --secundary-4-300: #fee9a2;
  --secundary-4-400: #fee48b;
  --secundary-4-500: #fede74;
  --secundary-4-600: #fedb5d;
  --secundary-4-700: #fed346;
  --secundary-4-800: #fdce2e;
  --secundary-4-900: #fdc817;
  --secundary-4-950: #fdc300;

  /* Colores neutros */
  --blanco: #ffffff;
  --negro: #000000;
  --gray-950: #313131;
  --gray-750: #626262;
  --gray-550: #949494;
  --gray-350: #c5c5c5;
  --gray-150: #f6f6f6;

  /* fuentes  */
  --font--main: Helvetica, Arial, sans-serif; /* TEXTOS Y CONTENIDO*/
  --font--logo: Helvetica, Arial, sans-serif; /* LOGOS Y ARTES */

  /* ********************************* */
  /* Botones primarios */

  /* Botones secundarios */
}
html {
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*,
::after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  font-family: var(--font--main);
}
/* ******************** */
/* ******************** */
/* codigo de pagina web */
/* ******************** */
/* ******************** */
body {
  /* colores */
  background-color: var(--white);

  /* tamaños */
  width: 100%;
  height: 100%;
  position: fixed; /* oara que use y aplique el 100% */
  top: 0rem;
  left: 0rem;

  /* posicionamiento */
  display: flex;
  flex-direction: row;

  /* centrados */
  margin: 0 auto;
}

/* ******************************** */
/* control caja principal izquierda */
span {
  display: flex;
  position: absolute;
  top: 4%;
  width: 100%;
  justify-content: center;
  font-family: var(--font--main);
  font-weight: bold;
  font-size: 3.2rem;
  color: var(--primary-800);
  text-shadow: 0 0 2px #00ff00, /* Sombra verde */ 
  0 0 20px #00ff00
}

.cardLeft {
  width: 50%;
  height: auto;
  background: linear-gradient(
    to bottom,
    var(--secundary-1-600),
    var(--gray-100)
  );
  /* display */
  display: flex;
  flex-direction: column;
  /* alinear */
  justify-content: center;
  align-items: center;

  /* degradado */
}

.cardLeft__container {
  /* colores */
  /* tamaños  */
  width: 40rem;
  height: auto;

  /* posicionamiento */
  display: flex;
  flex-wrap: row;
  gap: 0.5rem;

  /* centrado */
  justify-content: center;
  /* align-items: center; */
  margin-top: 1rem;

  /* posicion */
  position: fixed;
  top: 22%;
}
.cardLeft__container:hover {
  gap: 10rem;
  transition: ease 800ms;
}

.cardLeft__container img {
  width: 12rem;
  height: auto;
}

.cardLeft__rectangle--gray {
  filter: grayscale(100%);
}

.cardLeft__logs {
  /* colore */
  /* tamaños */
  height: 10rem;
  gap: 2rem;
  /* posicionamiento */
  display: flex;
  flex-direction: row;
  /* centrado */
  /* posicion */
  position: fixed;
  bottom: 5%;
}
.cardLeft__logs .cardLeft__logsimg {
  width: 10rem;
  height: 10rem;
  background-color: var(--gray-350);
}
.cardLeft__logs .cardLeft__vector1 {
  /* backgroud imagen */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73 72" fill="none"><path d="M18.5 60C14.35 60 10.813 58.537 7.889 55.611C4.965 52.685 3.502 49.148 3.5 45C3.498 40.852 4.961 37.315 7.889 34.389C10.817 31.463 14.354 30 18.5 30C22.646 30 26.184 31.463 29.114 34.389C32.044 37.315 33.506 40.852 33.5 45C33.494 49.148 32.031 52.686 29.111 55.614C26.191 58.542 22.654 60.004 18.5 60ZM18.5 49.5C17.25 49.5 16.188 49.063 15.314 48.189C14.44 47.315 14.002 46.252 14 45C13.998 43.748 14.436 42.686 15.314 41.814C16.192 40.942 17.254 40.504 18.5 40.5C19.746 40.496 20.809 40.934 21.689 41.814C22.569 42.694 23.006 43.756 23 45C22.994 46.244 22.557 47.307 21.689 48.189C20.821 49.071 19.758 49.508 18.5 49.5ZM59 60C56.1 60 53.625 58.975 51.575 56.925C49.525 54.875 48.5 52.4 48.5 49.5C48.5 46.6 49.525 44.125 51.575 42.075C53.625 40.025 56.1 39 59 39C61.9 39 64.375 40.025 66.425 42.075C68.475 44.125 69.5 46.6 69.5 49.5C69.5 52.4 68.475 54.875 66.425 56.925C64.375 58.975 61.9 60 59 60ZM12.5 27C11.65 27 10.938 26.712 10.364 26.136C9.79 25.56 9.502 24.848 9.5 24C9.498 23.152 9.786 22.44 10.364 21.864C10.942 21.288 11.654 21 12.5 21H21.5C23.15 21 24.563 21.588 25.739 22.764C26.915 23.94 27.502 25.352 27.5 27H12.5ZM18.5 54C21 54 23.125 53.125 24.875 51.375C26.625 49.625 27.5 47.5 27.5 45C27.5 42.5 26.625 40.375 24.875 38.625C23.125 36.875 21 36 18.5 36C16 36 13.875 36.875 12.125 38.625C10.375 40.375 9.5 42.5 9.5 45C9.5 47.5 10.375 49.625 12.125 51.375C13.875 53.125 16 54 18.5 54ZM59 54C60.25 54 61.313 53.563 62.189 52.689C63.065 51.815 63.502 50.752 63.5 49.5C63.498 48.248 63.061 47.186 62.189 46.314C61.317 45.442 60.254 45.004 59 45C57.746 44.996 56.684 45.434 55.814 46.314C54.944 47.194 54.506 48.256 54.5 49.5C54.494 50.744 54.932 51.807 55.814 52.689C56.696 53.571 57.758 54.008 59 54ZM36.2 48H45.65C46.15 44.4 47.712 41.525 50.336 39.375C52.96 37.225 55.923 36.15 59.225 36.15C60.475 36.15 61.713 36.325 62.939 36.675C64.165 37.025 65.352 37.55 66.5 38.25V24C66.5 22.35 65.913 20.938 64.739 19.764C63.565 18.59 62.152 18.002 60.5 18H41.6L38.45 14.7L41.6 11.55C41.9 11.25 42.05 10.9 42.05 10.5C42.05 10.1 41.9 9.75 41.6 9.45C41.3 9.15 40.95 9 40.55 9C40.15 9 39.8 9.15 39.5 9.45L31.025 17.925C30.725 18.225 30.588 18.588 30.614 19.014C30.64 19.44 30.802 19.802 31.1 20.1C31.398 20.398 31.748 20.548 32.15 20.55C32.552 20.552 32.902 20.402 33.2 20.1L36.35 16.95L39.5 20.1V27C39.5 28.65 38.913 30.063 37.739 31.239C36.565 32.415 35.152 33.002 33.5 33H31.85C33.35 34.65 34.488 36.5 35.264 38.55C36.04 40.6 36.427 42.75 36.425 45C36.425 45.5 36.412 46 36.386 46.5C36.36 47 36.298 47.5 36.2 48Z" fill="%2339AB00"/></svg>');
  background-size: cover;
}
.cardLeft__logs .cardLeft__vector2 {
  /* backgroud imagen */
  background-image: url(../img/LogoSgal.png);
  background-size: cover;
}
.cardLeft__logs .cardLeft__vector3 {
  /* backgroud imagen */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73 72" fill="none"><path d="M57.26 42C56.8471 44.8647 55.8448 47.6127 54.3164 50.0705C52.788 52.5284 50.7667 54.6427 48.38 56.28C47.78 53.79 44.09 51.75 39.26 51.18C39.77 47.61 40.82 44.28 41.54 42.36C42.68 43.08 44 43.5 45.5 43.5C56.15 43.5 54.5 25.5 54.5 25.5C54.5 25.5 53 28.5 48.5 28.5H45.5C44.1655 28.4996 42.8551 28.8553 41.704 29.5304C40.5528 30.2054 39.6026 31.1754 38.9515 32.3402C38.3003 33.505 37.9717 34.8224 37.9995 36.1566C38.0274 37.4908 38.4107 38.7934 39.11 39.93C41.09 37.86 43.22 36 45.5 34.5C41.54 38.49 38.51 43.5 36.5 48.3C34.61 44.61 32.24 41.79 30.5 40.5C31.91 41.1 33.23 42 34.49 42.9C34.82 42.18 35 41.37 35 40.5C34.85 32.31 21.5 33 21.5 33C22.43 34.26 23 35.85 23 37.5V40.5C23 43.8 25.7 46.5 29 46.5C30.5 46.5 31.85 45.96 32.9 45C33.59 46.89 34.1 49.05 34.37 51.12C29.21 51.57 25.25 53.67 24.62 56.31C19.13 52.5 15.5 46.17 15.5 39C15.5 27.42 24.92 18 36.5 18V27L51.5 15L36.5 3V12C29.3392 12 22.4716 14.8446 17.4081 19.9081C12.3446 24.9716 9.5 31.8392 9.5 39C9.5 46.1608 12.3446 53.0284 17.4081 58.0919C22.4716 63.1554 29.3392 66 36.5 66C50.39 66 61.82 55.5 63.32 42H57.26Z" fill="%2339AB00"/></svg>');
  background-size: cover;
}

/* ****************************** */
/* control caja principal derecha */

.cardRigth {
  /* colores */
  background-color: var(--secundary-1-950);

  /* tamanos */
  width: 50%;
  height: auto;

  /* propiedades  si se activa display flex / desactiva aling content*/
  display: flex;
  flex-direction: column;

  /* centrados */
  justify-content: center;
  align-items: center;
}

.cardRigth__login {
  /* colores */
  background-color: var(--white);
  border-radius: 1rem;
  /* tamaños */
  width: 40rem;
  height: auto;
  /* centrado */
  text-align: center;
  box-shadow: 0 4px 8px var(--black);
  /* posicion */
  position: fixed;
  top: 22%;
  margin: 0;
  padding: 0;
}
.cardRigth__login h3 {
  /* posicion */
  display: flex;
  margin: 0 auto;
  /* centrado */
  justify-content: center;
  align-items: center;

  /* colores */
  background-color: var(--gray-100);


  /* tamaños */
  border-radius: 1rem 1rem 0rem 0rem; /* bordes en sentido reloj. */
  height: 5rem;

  /* texto */
  color: var(--secundary-1-950);
  font-weight: bolder;



  /* posicionamiento */
}

.cardRigth__form{
  padding: 1rem;
}
.cardRigth__login img {
  width: 8rem;
  height: 8rem;
  margin: 0.1rem;
  border-radius: 10rem;
}

.cardRigth__formlabel {
  display: flex;
  margin-top: 1rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  font-size: 1.4rem;
  font-weight: 100;
  color: var(--black);
}
.cardRigth__login input[type="email"],
.cardRigth__login input[type="password"] {
  font-size: 1.6rem;
  color: var(--gray-700);
  width: 100%;
  padding: 1.2rem;
  margin: 0em;
  border: 0.2rem solid var(--blanco);
  border-radius: 3rem; /* campo circular */
  box-sizing: border-box;
  background-color: var(--gray-050);
}
.cardRigth__login .cardRigth__button {
  background-color: var(--secundary-1-800);
  width: 12rem;
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1rem;
}
.cardRigth__login a{
  color: var(--white);
  text-decoration: none;
}
.login-container a {
  display: block;
  margin-top: 10px;
  color: #0a3d62;
  text-decoration: none;
}

.cardRigth__baseform {
  position: relative;
  bottom: 0%;
}
.cardRigth__baseform a {
  /* colores */
  background-color: var(--gray-100);
  /* display */
  display: flex;
  /* posicionamiento */
  justify-content: center;
  align-items: center;
  /* tamaños */
  height: 3.6rem;
  border-radius: 0rem 0rem 1rem 1rem;
  /* fuente */
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray-600);
  text-decoration: none;
}
.login-container a:hover {
  text-decoration: underline;
}

footer {
  /* color */
  color: var(--white);
  /* display */
  display: flex;
  flex-direction: column;
  /* posicion */
  align-items: center;
  /* tamaños */
  width: 50rem;
  height: 20rem;
  padding: 1rem;
  /* fuente */
  text-align: center;
}
footer p {
  color: var(--white);
  font-weight: lighter;
  font-size: 1.6rem;
  height: 12rem;
  /* posicionamiento */
  position: fixed;
  bottom: 2%;
}

footer .cardRigth__footerTittle {
  /* color */
  text-decoration: underline;
  /* display */
  /* posicion */
  text-align: center;
  /* posicionamiento */
  position: fixed;
  bottom: 8%;
  /* tamaños */
  height: 1rem;
  margin-top: 5rem;
}
